.user-module {
    display: block;
    padding: .75em 0;
    margin-bottom: 1.5em;
    background-color: #ffffff;
    /* height: 25em; */
    width: 50em;
    border-radius: 15px;
}

.user-info-box {
    border: solid 1px black;
    padding: 7px 10px;
    margin: 15px;
}
