.user-list-module {
    display: block;
    padding: .75em 0;
    margin-bottom: 1.5em;
    background-color: #ffffff;
    /* height: 25em; */
    width: 50em;
    border-radius: 15px;
}

.user-style {
    list-style: none;
    padding-left: 0;
}